/* Styles for the noir de mars Portfolio
* ------------------------------------------ * */

html {
 -ms-overflow-style: none;
 scrollbar-width: none;
 scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display:none; /* for Chrome, Safari, and Opera */
}

body {
  background-color:#000000;
  font-family: "Spartan";
  font-size: 20px; 
  color: white;
}

a {
 color: white;
}

a:visited,
a:focus {
  color:white;
  text-decoration:none;
}

h1 {
  font-family:"Playfair Display";
  font-size: clamp(7rem, 8.49vw, 14rem);
  line-height:1;
  margin:0;
}

h2 {
  font-family:"Playfair Display";
  font-size: clamp(4.36rem, 5.25vw, 8.7rem);
  line-height:1;
  margin:0;
}

h3 {
 font-family:"Spartan";
 font-size: clamp(2.7rem, 3.25vw, 5.4rem);
 line-height:1;
  margin:0;
}

h4 {
 font-size: clamp(1.7rem, 2vw, 3.3rem);
 line-height:1;
  margin:0;
}

p {
  margin-top:0;
}


/* LAYOUT 
* ------------------------------- */
#main {
  display:block;
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  max-width:100%;
  max-height:100%;
  overflow:hidden;
}

.container {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-content:space-between;
  max-width:100%;
  max-height:100%;
  overflow:hidden;
}

.main-nav {
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  position: sticky;
  top: 0;
  left:0;
}

.main-nav.work {
   border-bottom:1px solid white;
   justify-content: center;
}

.wrapper {
  display:flex;
  justify-content:space-between;
  width:100%;
  height: 100vh;
  overflow: hidden;
}

.content, .content-about {
  flex-grow:1;
  display:block;
  position: relative;
  max-width: 100%;
  height: 100%;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.content::-webkit-scrollbar,
.content-about::-webkit-scrollbar,
.content-work::-webkit-scrollbar{
  display:none; /* for Chrome, Safari, and Opera */
}

section {
  width:50px;
  height:100vh;
  align-content:flex-end;
  text-align:center;
  transition: all 1s ease-in-out;
  box-sizing:border-box;
}

.section-index, .section-work, .section-about {
 display:flex;
 flex-direction:column;
 justify-content:space-between;
 align-items:center;
 width:55px;
 height:100vh;
 border-right:1px solid white;
}

/* Navigation */
.main-nav .nav-mobile {
  display:none;
}

.main-nav .nav-mobile a {
  font-family:"Spartan";
  font-size:18px;
  text-decoration:none;
}

.main-nav a:hover {
  margin-left:10px;
}

section .nav-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  text-decoration:none;
  font-size:18px;
  transform: rotate(180deg);
  margin:10px 0;
}

section .nav-link a span {
   margin:10px 0;
   color:#121212;
   font-weight:600;
}

section .nav-link a:hover span {
   color:#ffffff;
}

section .nav-link.active {
  display:block;
  position: relative;
  margin-bottom:0;
  animation: moveUp 3s ease-in-out forwards;
}

@keyframes moveUp {
  from {
   margin-bottom:-30px;
  }
  to {
   margin-bottom:0;
  }
}

section .nav-link.active a span {
  color:white;
}

.nav-link.home-link a {
  font-family:"Playfair Display";
  font-size: 35px;
  letter-spacing:0.05rem;
  color:inherit;
  text-decoration:none;
  margin-left:0;
  transition: margin-left 1s ease-in-out;
  padding-left: 20px;
}

.home-link a em {
  font-size:26px;
  font-weight:600;
  margin-left:-10px;
}

/* HOMEPAGE 
* --------------------------------- */

/* Homepage Title */
.homepage-title {
  display: flex;
  flex-direction:column;
  justify-content:space-between;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  margin:0 auto;
  padding-bottom:25px;
  overflow-x:hidden;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.homepage-title::-webkit-scrollbar {
  display:none; /* for Chrome, Safari, and Opera */
}

/* Portrait animation */
.hello-animation {
  display:flex;
  justify-content:flex-end;
  align-items:flex-end;
  margin: 35px 0 25px 0;
}

.hello-animation-content {
  display:block;
  position:relative;
  height:100%;
  margin: 0;
}

.hello-animation-text {
  display:flex;
}

.hello-dots {
  transform:rotate(30deg);
  margin-top:15px;
}

.hello-dots span {
  font-weight: 500;
  line-height:12px;
}

.hello-animation-text p {
  font-size:1rem;
  padding:0 15px;
}

.hello-animation-text:hover {
  cursor:pointer;
}

.hello-animation-image {
  flex-basis:15%;
  display:block;
  position:relative;
}

.hello-animation-portrait {
  display:block;
  position: absolute;
  top:-5px;
  right:20px;
  width:25vw;
  font-size:1rem;
}

.hello-animation-portrait-wrapper {
  display:block;
  position:relative;
  right:-230px;
  margin-top:20px;
  padding:0 20px;
  font-size: 0.9rem;
  text-align:center;
  transition: right 2s ease;
}

img#portrait_img {
  display:block;
  position:relative;
  width:20vw;
  object-fit:cover;
  transform:rotate(5deg);
  z-index:1;
  transition: transform 2s ease;
}

.hello-animation-portrait-wrapper:hover, 
img#portrait_img:hover {
  cursor:pointer;
}

.hello-animation-name {
  font-size:0.9rem;
  margin-top:10px;
}

.homepage-introduction-one {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight:200;
    height:40vh;
    padding: 3rem;
}

.homepage-introduction-one h2 {
    font-family:'Spartan';
    font-weight:100;
}

.homepage-introduction-one h1 {
  font-size: calc(clamp(7rem, 8.49vw, 14rem) / 1.15 );
  font-weight: 600;
  letter-spacing: -0.1rem;
  margin-bottom:25px;
}

.homepage-introduction-one h2 {
  font-size: calc(clamp(4.36rem, 5.25vw, 8.7rem) / 2 );
  line-height:1.2;
}

.homepage-introduction-one .portrait-dot {
   display: block;
   width: fit-content;
   font-size:28px;
   font-weight:bold;
   margin: 0 10px;
}

.homepage-introduction-two {
  display: flex;
  flex-direction: column;
  justify-content:center;
  width:100%;
  overflow: hidden;
  white-space: nowrap;
  margin:0 auto;
  padding: 15px 25px;
}

.homepage-introduction-two p {
   font-size:1.1rem;
   font-weight:300;
   margin:0;
}

.homepage-introduction-two p span {
  font-size: 14px;
  font-weight: 600;
  margin: 0 10px;
}

.rotating-star {
    display: inline-block;
    position: relative;
    bottom: -20px;
    left: -10px;
    font-size: 70px;
    width: 10px;
    height: 10px;
    line-height: 1;
    animation: rotate 3s linear infinite;
    transform-origin: 100% 5px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Contact
------------------------------------------------------ */
#content-contact {
  display:flex;
  flex-direction:column;
  justify-content:center;
  position:sticky;
  top:0;
  left:0;
  width:100%;
  height:100vh;
}

.content-contact {
  display: flex;
  justify-content: space-around;
  align-content:center;
  align-items:center;
  background-color:  #000;
  color: #fff;
  max-width: 100%;
  height: 100%;
  margin:  2.5em;
}

.content-contact h2 {
  font-family:'Spartan';
  font-size: 3.5rem;
  font-weight: 200;
  text-transform: uppercase;
  line-height:1.2;
  letter-spacing: 5px;
  text-align: left;
  margin-bottom:10px;
}

.content-contact-text p {
  font-size: 1rem;
  padding: 0 2rem;
}

.content-contact a {
  text-align:center;
  font-size: 1.3rem;
  font-weight:100;
  text-decoration: none;
  color: #fff;
}

.content-contact li {
  display:block;
  text-align:center;
  padding:25px;
}

.content-contact .contact-links-social li a {
   text-transform:none;
}

.contact-links-social {
 text-align:center;
}

.contact-links-social ul li {
  display:inline-block;
  list-style:none;
  margin:0;
  padding:0 10px;
}

.contact-links-social li a {
  font-size:0.9rem;
  text-decoration:none;
  text-transform:uppercase;
}

li.contact-link a:after {
  display:block;
  content:"";
  width:20px;
  height:1px;
  background-color:transparent;
  margin:6px auto;
  text-align:center;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}

li.contact-link a:hover:after {
  width:60px;
  background-color:white;
}

.rw-words-1 span {
  font-weight:900;
  position: absolute;
  opacity: 0;
  overflow: hidden;
  color: #fff;
  -webkit-animation: rotateWord 9s linear infinite 0s;
  -ms-animation: rotateWord 9s linear infinite 0s;
  animation: rotateWord 9s linear infinite 0s;
}

.rw-words-1 span:nth-child(2) {
  -webkit-animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.rw-words-1 span:nth-child(3) {
  -webkit-animation-delay: 5s;
  -ms-animation-delay: 5s;
  animation-delay: 5s;
}

@keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
  5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
  17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
  20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}

/* Homepage Definition
------------------------------------------------------ */
.homepage-ndm-definition {
   display:flex;
   flex-direction:column;
   justify-content:space-around;
   position:relative;
   width:100%;
   height:100vh;
   margin-top: 3rem;
   background-color:#000000;
}

.homepage-ndm-def {
   display:block;
   width: 36vw;
   margin: 0 4rem;
   text-align:left;
}

.homepage-ndm-def p {
  margin-bottom:0;
}

.homepage-ndm-def h4 {
   font-weight:300;
   letter-spading:-0.05rem;
   margin:5px 0 15px 0;
}

/* Quotation */
.homepage-quote {
  display:flex;
  flex-direction:column;
  justify-content:center;
  text-align:center;
}

.homepage-quote p {
   font-size:14px;
   margin-bottom:0;
}

.homepage-quote span {
  display:block;
  font-weight:bold;
}

q {
  display:block;
  position:relative;
  font-size:4rem;
  font-weight:300;
  width: 30vw;
  margin:10px auto 0 auto;
}

q:before {
 display:block; 
 font-size:6rem;
 text-align:center;
 height:30px;
}

q:after {
 display:none;
}

/* Work
------------------------------------------------------ */
.content-work {
  flex-grow:1;
  display:block;                   
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.content-work-introduction {
  display:block;
  margin: 5rem;
}

.content-work-text {
  display:flex;
  justify-content:center;
  align-items: stretch;
  height: 42vh;
  margin-bottom: 5rem;
}

.content-work-text > * { 
  flex-basis:40%; 
}

.content-work-text h1 {
   margin: 0;
}

.content-work-paragraph {
   align-self: flex-end;
   margin: 0 0 0 -50px;
}

.projects-list {
  display:block;
  max-width: 50vw;
  margin:0 auto 80px auto;
}

.projects-list h1 {
  font-family:"Playfair Display";
  font-size: 2.9rem;
  font-weight:100;
}

.projects-list ul {
  list-style:none;
  padding:0;
  border-top:1px solid white;
}

.projects-list li {
  padding:50px;
  border-bottom:1px solid white;
}

.project-link span {
   display:block;
   font-style:italic;
   font-size:0.9rem;
   margin-bottom:6px;
}

.project-link a {
   font-size: clamp(1.7rem, 2vw, 3.3rem);
   font-weight: 100;
   text-decoration:none;
   text-transform:uppercase;
   transition: all 600ms ease-in-out;
   -moz-transition: all 600ms ease-in-out;
   -o-transition: all 600ms ease-in-out;
   -webkit-transition: all 600ms ease-in-out;
}

.project-link a:hover {
  display:inline-block;
  transform:translate3d(5%, 0, 0) scale(1.05);
}

.content-work-projects-wrapper {
  display:block;
  width:100%;
  border-top:1px solid white;
  overflow-x:scroll;
  overflow-y:hidden;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.content-work-projects-wrapper::-webkit-scrollbar {
  display:none; /* for Chrome, Safari, and Opera */
}

.content-work-projects {
   display: flex;
   justify-content: space-between;
   width: fit-content;
   overflow-x: scroll;
}

.project-card {
 display:flex;
 justify-content:space-between;
 flex-basis: 100%;
 flex-grow: 1;
 gap:15px;
 width: calc(100vw - 85px);
 padding:15px;
}


/* Work: Right column */
.project-card-main-right {
  flex-basis:40%;
  height:calc(100vh - 30px);
}

.project-card-main-right .project-video {
   width:100%;
   height:100%;
   object-fit:cover;
}

/* Work: Left column */
.project-card-main-left {
  flex-basis:60%;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  height:calc(100vh - 30px);
  overflow: hidden;
}

.project-card-main-left .project-card-next {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   height: 50px;
   margin: 15px;
}

.project-card-main-left .project-card-next button {
    background: transparent;
    border: 0;
    font-size: 2.25rem;
    color: white;
}

.project-card-main-left .project-card-next button:hover {
  cursor:pointer;
}

.project-card-main-left .project-card-description {
   flex-grow:2;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding-bottom:15px;
}

.project-card-title p {
  font-size:0.9rem;
  text-transform:uppercase;
  margin-bottom:6px;
}

.project-card-title h2 {
 font-style:italic;
 font-weight:100;
 letter-spacing:-2px;
 margin: 0 0 2rem 0;
}

.project-card-details {
    display: flex;
    flex-direction: row;
    align-items: end;
    flex-grow: 2;
 }

.project-card-details p {
 font-size:1rem;
}

.project-card-main-left .project-card-images {
  display:block;
  height: 47vh;
  overflow-x:scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.project-card-images::-webkit-scrollbar {
  display:none; /* for Chrome, Safari, and Opera */
}

.project-card-images-container {
  display:flex;
  justify-content:flex-start;
  width:fit-content;
  height:100%;
  gap:15px;
}

.project-image {
   height: 100%;
   aspect-ratio: 1 / 1;
   object-fit: cover;
}



/* About 
* ---------------------------------------- */
.content-about {
  flex-grow:1;
  display:block;                   
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.content-about-introduction {
  display:block;
  margin: 5rem;
}

.content-about-text {
  display:flex;
  justify-content:center;
  align-items: stretch;
  height: 42vh;
  margin: 5rem auto 0 auto;
}

.content-about-text > * {
  flex-basis:40%;
}

.content-about-text h1 {
   margin: 0;
}

.content-about-paragraph {
   font-size:1.4rem;
   font-weight:100;
   align-self: flex-end;
   margin: 0 0 0 -50px;
}

.content-about-details {
   display:block;
   max-width:50vw;
   margin:80px auto 0 auto;
}

.wordpress-anim {
   display:inline-block;
   position:relative;
}

.wordpress-anim:before {
   display:none;
   position:absolute;
   top:-25px;
   right:-25px;
   content:"& other CMS";
   opacity:0;
   background-color: #fff;
   color:#000000;
   font-size:15px;
   font-weight:normal;
   padding:6px 6px 3px 6px;
   transition: opacity 300ms ease-in-out;
}

.wordpress-anim:hover:before {
   display:block;
   opacity:1;
}

.content-about-details .paragraph-loading p {
  font-size:1.9rem;
  font-weight:100;
  text-align:center;
  margin-bottom:0;
}

.contact-about-link {
   font-size:5vw; 
   font-family: 'Playfair display';
   text-transform:uppercase;
   text-align:center;
   margin:100px 0 0 0;
} 

.content-about-portfolio {
    display:block;
    text-align: center;
    max-width:60vw;
    margin: 6rem auto;
    padding: 25px 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.content-about-portfolio h4 a {
    text-transform:uppercase;
    text-decoration:none;
    font-style:normal;
    font-weight:100; 
    transition: all 300ms;
}

.content-about-portfolio h4 a:hover {
  font-style:italic;
}


/* Animate.js custom selector
* ------------------------------------ */
.title-anchor, #home-title-anchor {
  position: relative; /* Ensure it’s positioned properly */
  overflow: visible; /* Allow overflow */
}

#paragraph-anchor {
  position: relative; /* Ensure it’s positioned properly */
  overflow: hidden; /* Don't Allow overflow */
}

.page-title .letter {
  display: inline-block; /* Required for translate to work correctly */
}

.paragraph-loading {
  position: relative;
}





/* Responsive
* -------------------------------- */
@media (max-width:48em) {

  .main-nav .nav-mobile {
    display:block;
  }

  section {
    display:none;
  }

  .content .primary-title-one h1, 
  .content .primary-title-two h1, 
  .content .primary-title-one-bottom .primary-title-span h1 {
    line-height:1;
  }

  .content .secondary-title .secondary-introduction {
   width:100%;
   margin: 50px 0;
  }

  .content .secondary-title {
    height:100%;
  }
  
  .content .secondary-introduction-one {
    padding:0;
  }

  .content .secondary-introduction-two {
     text-align:center;
     padding:0;
     margin-top:50px;
   }

  .content .secondary-introduction-one .hello-animation {
    margin-top:50px;
  }

  .secondary-introduction-one .hello-animation-content:hover ~ .hello-animation-image {
    top:unset;
    bottom:10vh;
  }

  .content .secondary-introduction-one .hello-animation #portrait_img {
    width:45vw;
  }
  
}
