/* Styles for the noir de mars Portfolio
* ------------------------------------------ * */

html {
 -ms-overflow-style: none;
 scrollbar-width: none;
 scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display:none; /* for Chrome, Safari, and Opera */
}

body {
  background-color:#000000;
  font-family: "Spartan";
  font-size: 20px; 
  color: white;
}

a {
 color: white;
}

a:visited,
a:focus {
  color:white;
  text-decoration:none;
}

h1 {
  font-family:"Playfair Display";
}

p {
  margin-top:0;
}

p.large-text {
  font-size: clamp(2.7rem, 3.25vw, 5.4rem);
  margin-bottom:0;
}

p.medium-text {
  font-size: clamp(1.8rem, 2.1vw, 3.6rem);
  margin-bottom:0;
}


/* LAYOUT 
* ------------------------------- */
#main {
  display:block;
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  max-width:100%;
  max-height:100%;
  overflow:hidden;
}

.container {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-content:space-between;
  max-width:100%;
  max-height:100%;
  overflow:hidden;
}

.main-nav {
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  position: sticky;
  top: 0;
  left:0;
}

.main-nav.work {
   border-bottom:1px solid white;
   justify-content: center;
}

.wrapper {
  display:flex;
  justify-content:space-between;
  width:100%;
  height: 100vh;
  overflow: hidden;
}

.content, .content-about {
  flex-grow:1;
  display:block;
  position: relative;
  max-width: 100%;
  height: 100%;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.content::-webkit-scrollbar,
.content-about::-webkit-scrollbar,
.content-work::-webkit-scrollbar{
  display:none; /* for Chrome, Safari, and Opera */
}

.content {
  margin: 0 25px 25px 25px;
}

/* .content-about, .content-work {
   margin: 0 50px 25px 50px;
} */


section {
  width:50px;
  height:100vh;
  align-content:flex-end;
  text-align:center;
  transition: all 1s ease-in-out;
  box-sizing:border-box;
}

section:hover {
  background-color:white;
}

section:hover a {
 color:#000;
}

.section-work {
 display:flex;
 flex-direction:column;
 justify-content:space-between;
 align-items:center;
 width:55px;
 height:100vh;
 border-right:1px solid white;
}

.section-work .nav-link a {
  transform: rotate(180deg);
}

section.first-section, 
section.second-section {
 border-left:1px solid white;
}
/* 
section.first-section.work {
  border-right:1px solid white;
  border-left: 0;
}

section.first-section.work .nav-link a {
   transform: rotate(180deg);
}

 */
/* Navigation */
.main-nav .nav-mobile {
  display:none;
}

.home-link a {
  font-family:"Playfair Display";
  font-size: 35px;
  letter-spacing:-1px;
  color:inherit;
  text-decoration:none;
  margin-left:0;
  transition: margin-left 1s ease-in-out;
  padding-left: 20px;
}

.home-link a em {
  font-size:26px;
  font-weight:600;
}

.main-nav .nav-mobile a {
  font-family:"Spartan";
  font-size:18px;
  text-decoration:none;
}

.main-nav a:hover {
  margin-left:10px;
}

section .nav-link a {
  display: flex;
  justify-content: center;
  align-items: center;
/*   line-height: 50px; */
  writing-mode: vertical-lr;
  text-orientation: mixed;
  text-decoration:none;
/*   margin:10px 0; */
}

section .nav-link a span {
   margin:20px 0;
   color:#121212;
   font-weight:600;
}

section .nav-link.active {
  display:block;
  position: relative;
  margin-bottom:0;
  animation: moveUp 3s ease-in-out forwards;
}

@keyframes moveUp {
  from {
   margin-bottom:-30px;
  }
  to {
   margin-bottom:0;
  }
}

section .nav-link.active a span {
  color:white;
}

/* HOMEPAGE 
* --------------------------------- */

/* Primary Title */
.primary-title {
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-content: center;
  position: relative;
  top: 0;
  left: 0;
  max-width: 100%;
  height: calc(100vh - 100px);
  max-height: 100%;
}

.primary-title-line,
.primary-title-inline {
  height: calc((100vh - 100px) / 2);
}

.primary-title-inline {
  display:flex;
}

.primary-title h1 {
  font-size: clamp(7rem, 24.75vw, 25rem);
  font-weight:600;
  letter-spacing:-0.2rem;
  margin:0;
  padding: 0;
  line-height:260px;
}

.primary-title-span {
  font-family:"Playfair Display";
  font-size: clamp(3.5rem, 8vw, 12.5rem);
  font-weight:600;
  letter-spacing:-0.2rem;
  margin:0;
  padding: 0;
  flex-basis:35%;
  text-align:center;
}

/* Secondary Title */
.secondary-title {
  display: block;
  position: relative;
  top: 5rem;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin:0 auto;
  padding-bottom:25px;
  overflow-x:hidden;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.secondary-title::-webkit-scrollbar {
  display:none; /* for Chrome, Safari, and Opera */
}

/* Portrait animation */
.hello-animation {
  display:flex;
  justify-content:flex-end;
  align-items:flex-end;
  margin: 25px 0;
}

.hello-animation-content {
  display:block;
  position:relative;
  height:100%;
  margin: 0;
}

.hello-animation-text {
  display:flex;
}

.hello-animation-text span {
  font-weight: 500;
  line-height:12px;
  opacity:0.5;
}

.hello-animation-text p {
  font-size:1rem;
  padding:0 15px;
}

.hello-animation-image {
  flex-basis:15%;
  display:block;
  position:relative;
}

/* .hello-animation-content span {
  display:block;
  font-weight: 500;
  line-height:12px;
  opacity:0.5;
}

.hello-animation-content p {
  font-size:1rem;
  padding:15px 0;
} */

.hello-animation-portrait {
  display:block;
  font-size:1rem;
}

.hello-animation-portrait-img {
  display:block;
  position:absolute;
  top:-5px;
  right:-80%;
  font-size:1rem;
  text-align:right;
  transition: right 2s ease;
}

#portrait_img {
  width:20vw;
  object-fit:cover;
  transform: rotate(5deg);
  z-index:1;
  transition: transform 2s ease;
}

.hello-animation-text:hover {
  cursor:pointer;
}

.secondary-introduction-one {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight:200;
    height:40vh;
    padding: 4rem 25px;
}

.secondary-introduction-one .portrait-dot {
   display: block;
   width: fit-content;
   font-size:16px;
   font-weight:bold;
   margin: 10px;
}

.secondary-introduction-two {
  display: flex;
  flex-direction: column;
  justify-content:center;
  max-width:60vw;
  overflow: hidden;
  white-space: nowrap;
  margin:0 auto;
  padding: 15px 25px;
}

.secondary-introduction-two p {
   font-size:1.1rem;
   font-weight:300;
   margin:0;
}

.secondary-introduction-two p span {
  font-size: 14px;
  font-weight: 600;
  margin: 0 10px;
}


.rotating-star {
    display: inline-block;
    position: relative;
    bottom: -20px;
    left: -10px;
    font-size: 70px;
    width: 10px;
    height: 10px;
    line-height: 1;
    animation: rotate 3s linear infinite;
    transform-origin: 100% 5px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Contact
------------------------------------------------------ */
#content-contact {
  display:block;
  padding:3rem 0;
}

.content-contact {
  display: flex;
  justify-content: space-around;
  align-content:center;
  align-items:center;
  background-color:  #000;
  color: #fff;
  max-width: 100%;
  height: 100%;
  margin:  2.5em;
}

.content-contact h2 {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 5px;
  text-align: left;
  margin-bottom:10px;
}

.content-contact-text p {
  font-size: 1rem;
  padding: 0 2rem;
}

.content-contact a {
  text-align:center;
  font-size: 1.3rem;
  text-decoration:  none;
  color: #fff;
}

.contact-links {
  text-align:center;
}

.contact-links ul {
  padding:25px;
  text-align:center;
}

.contact-links-social {
 text-align:center;
}

.contact-links-social ul li {
  display:inline-block;
  list-style:none;
  margin:0;
  padding:0 10px;
}

.contact-links-social ul li a {
  font-size:0.9rem;
  text-decoration:none;
  text-transform:uppercase;
}

.rw-words-1 span {
  font-weight:900;
  position: absolute;
  opacity: 0;
  overflow: hidden;
  color: #fff;
  -webkit-animation: rotateWord 9s linear infinite 0s;
  -ms-animation: rotateWord 9s linear infinite 0s;
  animation: rotateWord 9s linear infinite 0s;
}

.rw-words-1 span:nth-child(2) {
  -webkit-animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.rw-words-1 span:nth-child(3) {
  -webkit-animation-delay: 5s;
  -ms-animation-delay: 5s;
  animation-delay: 5s;
}

@keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
  5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
  17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
  20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}


/* Work
------------------------------------------------------ */
.content-work {
  flex-grow:1;
  display:block;                   
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.content-work-introduction {
/*     display: flex;
    justify-content: center;
    align-items: center; */
}

.content-work-text {
  display:flex;
  flex-direction:column;
  justify-content:center;
  max-width: 60vw;
  height:85vh;
  margin:0 auto;
}

.content-work-text p {
  font-size:2.2rem;
  font-weight:100;
  text-transform:uppercase;
}

.contact-work-link a {
   font-size:0.9rem;
   text-align:center;
   text-decoration:none;
   text-transform:uppercase;
   margin:25px 0 0 0;
}

.projects-list {
  display:block;
  max-width: 50vw;
  margin:0 auto 80px auto;
}

.projects-list h2 {
  font-family:"Playfair Display";
  font-style:italic;
}

.projects-list ul {
  list-style:none;
  padding:0;
  border-top:1px solid white;
}

.projects-list li {
  padding:50px;
  border-bottom:1px solid white;
}

.project-link span {
   display:block;
   font-style:italic;
   font-size:0.9rem;
   margin-bottom:6px;
}

.project-link a {
   font-size: 1.8rem;
   font-weight: 100;
   text-decoration:none;
   text-transform:uppercase;
}

.content-work-projects-wrapper {
  display:block;
  width:100%;
  overflow:hidden;
}

.content-work-projects {
   display: flex;
   justify-content: space-between;
   width: fit-content;
   overflow-x: scroll;
}

.project-card {
 display:flex;
 justify-content:space-between;
 flex-basis: 100%;
 flex-grow: 1;
 gap:15px;
 width: calc(100vw - 85px);
 padding:15px;
}


/* Work: Right column */
.project-card-main-right {
  flex-basis:40%;
  height:calc(100vh - 30px);
}

.project-card-main-right .project-video {
   width:100%;
   height:100%;
   object-fit:cover;
}

/* Work: Left column */
.project-card-main-left {
  flex-basis:60%;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  height:calc(100vh - 30px);
  overflow: hidden;
}

.project-card-main-left .project-card-next {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   height: 50px;
   margin: 15px;
}

.project-card-main-left .project-card-next button {
    background: transparent;
    border: 0;
    font-size: 2.25rem;
    color: white;
}

.project-card-main-left .project-card-next button:hover {
  cursor:pointer;
}

.project-card-main-left .project-card-description {
   flex-grow:2;
   padding-bottom:15px;
}

.project-card-title p {
  font-size:0.9rem;
  text-transform:uppercase;
  margin-bottom:6px;
}

.project-card-title h2 {
 font-size:2.5rem;
 font-weight:100;
 margin: 0 0 5rem 0;
}

.project-card-details {
    display: flex;
    flex-direction: row;
    align-items: end;
    flex-grow: 2;
 }

.project-card-details p {
 font-size:1rem;
}

.project-card-main-left .project-card-images {
  display:block;
  height: 40vh;
  overflow-x:scroll;
}

.project-card-images-container {
  display:flex;
  justify-content:flex-start;
  width:fit-content;
  height:100%;
  gap:15px;
}

.project-image {
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}


/* Responsive
* -------------------------------- */
@media (max-width:48em) {

  .main-nav .nav-mobile {
    display:block;
  }

  section {
    display:none;
  }

  .content .primary-title-one h1, 
  .content .primary-title-two h1, 
  .content .primary-title-one-bottom .primary-title-span h1 {
    line-height:1;
  }

  .content .secondary-title .secondary-introduction {
   width:100%;
   margin: 50px 0;
  }

  .content .secondary-title {
    height:100%;
  }
  
  .content .secondary-introduction-one {
    padding:0;
  }

  .content .secondary-introduction-two {
     text-align:center;
     padding:0;
     margin-top:50px;
   }

  .content .secondary-introduction-one .hello-animation {
    margin-top:50px;
  }

  .secondary-introduction-one .hello-animation-content:hover ~ .hello-animation-image {
    top:unset;
    bottom:10vh;
  }

  .content .secondary-introduction-one .hello-animation #portrait_img {
    width:45vw;
  }
  
}
